<% if @results.present? %>
  <% @results.each do |result| %>
  <li><%= link_to result.name, volume_path(result.id) %></li>
  <% end %>
<% else %>
  "No Results"
<% end %>

<br />
Historical Searches
<br />
<ul>
  <% @searches.each do |search| %>
  <li>
    <%= search.created_at.strftime("%b %-d, %Y")  %>
  </li>
  <% end  %>
</ul>
